In [2]:
%load_ext sql
%sql sqlite:///

u'Connected: None@'

Problem Set 2
=======


### Instructions / Notes:

**_Read these carefully_**

* This problem set _does not_ come with a dataset to load; instead, make your own instances of tables, either as solutions to the problems or for testing solutions to the problems.
* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* **See Piazza for submission instructions**
* _Have fun!_

Problem 1
---------

**_[15 points total]_**

For each part of this problem you will need to provide a _single_ SQL query which will check whether a certain condition holds on a specific instance of a relation, in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  (If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is).

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **could** hold in general for the relation, given any specific set of tuples_.

You may assume that there will be no `NULL` values in the tables, **and you may assume that the relations are _sets_ rather than multisets**, but otherwise your query should work for general instances.  We define the schemas of the tables used below for convenience, but in this problem you will need to construct your own test tables if you wish to use them to check your answers!

In [3]:
%%sql
DROP TABLE IF EXISTS R; CREATE TABLE R (W INT, X INT, Y INT, Z INT);
DROP TABLE IF EXISTS Cat; CREATE TABLE Cat(cat_name TEXT, breed TEXT, owner_name TEXT);
DROP TABLE IF EXISTS Owner; CREATE TABLE Owner(owner_name TEXT, ssn INT, hometown TEXT);
DROP TABLE IF EXISTS S; CREATE TABLE S (A INT, B INT, C INT, D INT, E INT);

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Part (a)

**_[5 points]_**

$\{X, Y\}$ is a **superkey** for a relation $R(W,X,Y,Z)$.

In [4]:
%%sql
SELECT *
FROM R r1, R r2
WHERE r1.X = r2.X 
AND r1.Y = r2.Y 
AND (r1.W <> r2.W OR r1.Z <> r2.Z);

Done.

[]

### Part (b)

**_[5 points]_**

The individual attributes of a relation $R(W,X,Y,Z)$ are each keys.

In [5]:
%%sql
SELECT *
FROM R r1, R r2
WHERE r1.W = r2.W AND (r1.X <> r2.X OR r1.Y <> r2.Y OR r1.Z <> r2.Z)
OR r1.X = r2.X AND (r1.W <> r2.W OR r1.Y <> r2.Y OR r1.Z <> r2.Z)
OR r1.Y = r2.Y AND (r1.X <> r2.X OR r1.W <> r2.W OR r1.Z <> r2.Z)
OR r1.Z = r2.Z AND (r1.X <> r2.X OR r1.Y <> r2.Y OR r1.W <> r2.W);

Done.

[]

### Part (c)

**_[5 points]_**

A **multivalued dependency (MVD)** is defined as follows: let $R$ be a schema i.e. a set of attributes, and consider two _sets of attributes_ $A\subseteq R$ and $B\subseteq R$.  We say that a multivalued dependency (MVD), written:

$A\twoheadrightarrow B$

**holds on $R$** if whenever there are two tuples $t_1,t_2$ such that $t_1[A] = t_2[A]$, there also exists a third tuple $t_3$ such that:

* $t_3[A] = t_1[A] = t_2[A]$
* $t_3[B] = t_1[B]$
* $t_3[R\setminus B] = t_2[R\setminus B]$

Note that $R\setminus B$ is all the attributes in $R$ that are not in $B$, and that $t_3$ need not be distinct from $t_1$ or $t_2$.  Note especially that an MVD holds on an entire _relation_, meaning that any two tuples (in any order) in the relation should satisfy the above conditions if the MVD holds.  **See the end of the lecture 7 slides for more on MVDs!**


In this problem, write your query to check if the MVD $\{B\}\twoheadrightarrow \{D,E\}$ holds for a relation $S(A, B, C, D, E)$.

In [6]:
%%sql
SELECT *
FROM S s1, S s2
WHERE s1.B = s2.B AND NOT EXISTS (
    SELECT * 
    FROM S s3
    WHERE s3.B = s1.B
        AND s3.D = s1.D
        AND s3.E = s1.E
        AND s3.A = s2.A
        AND s3.C = s2.C);

Done.

[]

Problem 2
---------

**_[20 points total]_**

### Part (a)

**_[10 points]_**

Consider a relation $T(V,W,X,Y,Z)$.  Provide _two different sets_ of functional dependencies, `F_1` and `F_2`, such that each one results in $T$ having the **largest number of distinct keys** $T$ could possibly have.

Store your lists of FDs as python lists having elements that are _pairs of sets_; for example to set `F_1` as the set consisting of two FDs, $\{V,W\}\rightarrow\{X,Y\}$ and $\{W\}\rightarrow\{X\}$:

```python
F_1 = [(set(['V','W']), set(['X','Y'])), (set(['W']), set(['X']))]
```

*Note: the above is not necessarily one of the FDs- just an example of the syntax!

*Hint: You may use any of the functions from the lecture activities if they seem helpful!  However your final answer should not involve these functions directly, nor are they necessary for this problem

In [7]:
T = set(['V','W','X','Y','Z'])

In [8]:
F_1 = [(set(['V','W']), set(['X','Y','Z'])),
     (set(['V','X']), set(['W','Y','Z'])),
     (set(['V','Y']), set(['W','X','Z'])),
     (set(['V','Z']), set(['W','X','Y'])),
     (set(['W','X']), set(['V','Y','Z'])),
     (set(['W','Y']), set(['V','X','Z'])),
     (set(['W','Z']), set(['V','X','Y'])),
     (set(['X','Y']), set(['V','W','Z'])),
     (set(['X','Z']), set(['V','W','Y'])),
     (set(['Y','Z']), set(['V','W','X']))]

F_2 = [(set(['X','Y','Z']), set(['V','W'])),
     (set(['W','Y','Z']), set(['V','X'])),
     (set(['W','X','Z']), set(['V','Y'])),
     (set(['W','X','Y']), set(['V','Z'])),
     (set(['V','Y','Z']), set(['W','X'])),
     (set(['V','X','Z']), set(['W','Y'])),
     (set(['V','X','Y']), set(['W','Z'])),
     (set(['V','W','Z']), set(['X','Y'])),
     (set(['V','W','Y']), set(['X','Z'])),
     (set(['V','W','X']), set(['Y','Z']))]

In [9]:
from closure import compute_closure

In [10]:
def is_superkey_for(A, X, fds, verbose=False): 
    return X.issubset(compute_closure(A, fds, verbose=verbose))

In [11]:
import itertools
def is_key_for(A, X, fds, verbose=False):
    subsets = set(itertools.combinations(A, len(A)-1))
    return is_superkey_for(A, X, fds) and \
        all([not is_superkey_for(set(SA), X, fds) for SA in subsets])

In [12]:
print is_key_for(set(['V','W']), T, F_1)

True

### Part (b)

**_[10 points]_**

Consider a schema $T(A_1,...,A_n)$ which has FDs $\{A_i,A_{i+1}\}\rightarrow\{A_{i+2}\}$ for $i=1,...,n-2$.  Create an instance of $T$, for $n=4$, for which these FDs hold, and no other ones do- i.e. **all other FDs are violated.**

Use a series of `INSERT` statements below to populate the table `T`:

In [13]:
%%sql
DROP TABLE IF EXISTS T; 
CREATE TABLE T (A INT, B INT, C INT, D INT);
INSERT INTO T VALUES (0,0,0,0);
# violate A -> B/C/D
INSERT INTO T VALUES (0,1,1,1);
# violate B -> A/C/D
INSERT INTO T VALUES (2,1,2,2);
# violate C -> A/B/D
INSERT INTO T VALUES (3,3,2,3);
# violate D -> A/B/C
INSERT INTO T VALUES (2,2,2,0);
# violate AC -> B, AD -> B, CD-> B, ACD -> B
INSERT INTO T VALUES (0,2,0,0);
# violate AC -> D
INSERT INTO T VALUES (0,3,0,2);
# violate BC -> A, BD -> A, CD->A, BCD -> A
INSERT INTO T VALUES (4,3,0,2);
# violate CD -> A, CD -> B
INSERT INTO T VALUES (3,0,0,2);
# violate AD -> C
INSERT INTO T VALUES (3,1,4,2);
# violate BD -> C
INSERT INTO T VALUES (4,1,3,2);

Done.
Done.
1 rows affected.
(sqlite3.OperationalError) unrecognized token: "#" [SQL: u'# violate A -> B/C/D\nINSERT INTO T VALUES (0,1,1,1);']

Problem 3
---------

**_[30 points total]_**

Consider a relation $R(X,Y,Z)$.  In each part of this problem you will be given a condition, and you need to create the following three instances of $R$ (as tables in SQL):

1. An instance $A$
2. An instance $B$ which differs from $A$ only in that it has one **_fewer_** row. Any row in B should also be there in A.
3. An instance $C$ which differs from $A$ only in that it has one **_additional_** row. Apart from the additional row, all the rows of C are same as A.

### Part (a)

**_[10 points]_**

Create $A$, $B$ and $C$ such that each individual attribute is a key for $A$, but none of the individual attributes is a key for $B$ or $C$.  If you believe that $B$ and/or $C$ cannot be created, provide them as an empty table.

In [15]:
%%sql
DROP TABLE IF EXISTS A;
CREATE TABLE A (X INT, Y INT, Z INT);
INSERT INTO A VALUES (1,2,3);
INSERT INTO A VALUES (2,3,4);
INSERT INTO A VALUES (3,4,5);
DROP TABLE IF EXISTS B;
CREATE TABLE B (X INT, Y INT, Z INT);
DROP TABLE IF EXISTS C; 
CREATE TABLE C (X INT, Y INT, Z INT);
INSERT INTO C VALUES (1,2,3);
INSERT INTO C VALUES (2,3,4);
INSERT INTO C VALUES (3,4,5);
INSERT INTO C VALUES (1,3,5);

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Part (b)

**_[10 points]_**

Create $A$, $B$ and $C$ such that ONLY the functional dependencies $\{Z\} \rightarrow \{Y\}$ and $\{X,Z\} \rightarrow \{Y\}$ hold on $B$, ONLY the functional dependency $\{X,Z\} \rightarrow \{Y\}$ holds on $A$ and NO functional dependencies hold on $C$. If you believe $B$ and/or $C$ cannot be created, provide them as an empty table.

In [16]:
%%sql
DROP TABLE IF EXISTS A;
CREATE TABLE A (X INT, Y INT, Z INT);
INSERT INTO B VALUES (0,0,0);
#violate X -> Y, X->Z
INSERT INTO B VALUES (0,1,1);
#violate Y -> X, Y -> Z
INSERT INTO B VALUES (2,0,2);
#violate Z -> X
INSERT INTO B VALUES (1,1,1);
#violate XY -> Z
INSERT INTO B VALUES (1,1,3);
#violate YZ -> X
INSERT INTO B VALUES (0,1,3);
#violate Z -> Y
INSERT INTO B VALUES (2,3,3);

DROP TABLE IF EXISTS B;
CREATE TABLE B (A int, B int, C int);
INSERT INTO B VALUES (0,0,0);
#violate X -> Y, X->Z
INSERT INTO B VALUES (0,1,1);
#violate Y -> X, Y -> Z
INSERT INTO B VALUES (2,0,2);
#violate Z -> X
INSERT INTO B VALUES (1,1,1);
#violate XY -> Z
INSERT INTO B VALUES (1,1,3);
#violate YZ -> X
INSERT INTO B VALUES (0,1,3);


DROP TABLE IF EXISTS C;
CREATE TABLE C (A int, B int, C int);
INSERT INTO C VALUES (0,0,0);
#violate X -> Y, X->Z
INSERT INTO C VALUES (0,1,1);
#violate Y -> X, Y -> Z
INSERT INTO C VALUES (2,0,2);
#violate Z -> X
INSERT INTO C VALUES (1,1,1);
#violate XY -> Z
INSERT INTO C VALUES (1,1,3);
#violate YZ -> X
INSERT INTO C VALUES (0,1,3);
#violate Z -> Y
INSERT INTO C VALUES (2,3,3);
#violate XZ -> Y
INSERT INTO C VALUES (2,4,3);

Done.
Done.
1 rows affected.
(sqlite3.OperationalError) near "#violate": syntax error [SQL: u'#violate X -> Y, X->Z\nINSERT INTO B VALUES (0,1,1);']

### Part (c)

**_[10 points]_**

Create $A$, $B$ and $C$ such that the MVD $Z\twoheadrightarrow X$ holds in $A$, but not in $B$ or $C$.  If you believe that $B$ and/or $C$ cannot be created, provide them as an empty table.

In [26]:
%%sql
DROP TABLE IF EXISTS A;
CREATE TABLE A (X INT, Y INT, Z INT);
INSERT INTO A VALUES (4,2,1);
INSERT INTO A VALUES (5,2,1);
INSERT INTO A VALUES (4,3,1);
INSERT INTO A VALUES (5,3,1);

DROP TABLE IF EXISTS B;
CREATE TABLE B (X INT, Y INT, Z INT);
INSERT INTO B VALUES (4,2,1);
INSERT INTO B VALUES (5,2,1);
INSERT INTO B VALUES (4,3,1);

DROP TABLE IF EXISTS C;
CREATE TABLE C (X INT, Y INT, Z INT);
INSERT INTO C VALUES (4,2,1);
INSERT INTO C VALUES (5,2,1);
INSERT INTO C VALUES (4,3,1);
INSERT INTO C VALUES (5,3,1);
INSERT INTO C VALUES (4,7,1);

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [27]:
%%sql
SELECT *
FROM C s1, C s2
WHERE s1.Z = s2.Z AND NOT EXISTS (
    SELECT * 
    FROM C s3
    WHERE s3.Z = s1.Z
        AND s3.X = s1.X
        AND s3.Y = s2.Y);

Done.

[(5, 2, 1, 4, 7, 1), (5, 3, 1, 4, 7, 1)]